/*Default css*/
*{
  margin: 0;
  padding: 0;
  outline: 0;
}
.templete{
	width:960px;
	background: #ddd;
	margin: 0 auto;
}
.clear{
	overflow: hidden;
}
/*body section*/
body{
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

/*header seciton*/
.headersection{
	background: #b7801c;
	color: #fff;
}
.logo{
	width: 430px;
	float: left;
}
.logo img{
	float: left;
	margin-right: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 10px;
	width: 70px;
}
.logo h2{
	color: #fff;
	font-size: 32px;
	margin-bottom: 11px;
	margin-top: 24px;
	text-shadow: 2px 2px 0px #666;
}
.logo p{

}

/*social icons*/
.social{
	width: 255px;
	float: right;
	padding-top: 16px;
}
.social img{
	width: 60px;
}
/*Menu section*/
.navsection{
  background: #e6af4b;
}
.navsection ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.navsection ul li{
	display: block;
	float: left;
}
.navsection ul li a{
	background: #c48d29;
	border: 1px solid #b7801c;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin:5px;
	padding: 5px 15px;
	text-decoration: none;
}
.navsection ul li a:hover{
	background: #FEF4E5;
	color: #333;
}

/*slider seciton*/
.slidersection{
	
}

/*content seciton*/
.contentsection{
	background: #fff;
}
.maincontent {
    width: 628px;
    background: #fef4e5;
    border: 1px solid #b7801c;
    float: left;
    padding: 8px 20px;
    margin: 0 15px 15px 0;
}
.samepost{
	
}
.samepost h2{
	border-bottom: 2px solid #e0d6c7;
	font-size:25px;
	margin-bottom: 10px;
	padding: 10px;
	color: #ac7511 ;
}
.samepost img{
	background: #fff;
	border: 1px solid #ebb450;
	float: left;
	margin-right: 10px;
	padding: 5px;
	width: 200px;
}
.samepost p{
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
}
.readmore{
	float: right;
	margin-top: 10px;
}
.readmore a{
	background: #fff;
	border:1px solid #b7801c;
	border-radius: 3px;
	color: #b7801c;
	display: block;
	font-size: 17px;
	padding: 4px 8px;
	text-decoration: none;
}
.readmore a:hover{
	color: #e16525;
}
/*sidebar section*/
.sidebar {
    width: 253px;
    background: #fef4e5;
    float: right;
    margin-top: 0;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b7801c;
}
.samesidebar{

}
.samesidebar h2 {
    background: #E6AF4B;
    border-bottom: 2px solid #555555;
    color: #333;
    margin-bottom: 8px;
    padding: 10px;
}
.samesidebar p{
	margin-bottom: 10px;
}

/*footer section*/
.footersection{
	height: 90px;
	background: #b7801c;
}
.footersection p{
	color:#fff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;

}