@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
/*Default css*/
*{
  margin: 0;
  padding: 0;
  outline: 0;
}

/*body section*/
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: url(img/bg.png) repeat fixed 0 0 #fff;
}

.templete{
	width:928px;
	margin: 0 auto;
}
.contemplete{
	width:928px;
	background: #ddd;
	margin: 0 auto;
}
.clear{
	overflow: hidden;
}

/*contact form*/
input[type="text"],input[type="email"]{
	border: 1px solid #cfc5b6;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 5px;
	width: 300px;
}
textarea{
	height: 110px;
	margin-bottom: 10px;
	padding: 5px;
	width: 300px;
	border: 1px solid #cfc5b6;
}
input[type="submit"]{
	background: #b7801c;
	border: 1px solid #e6af4b;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 1px 10px;
}
input[type="submit"]:hover{
	color: #000;
	background: #fef4e5;
}

/*header seciton*/
.headersection{
	background: #ca932f;
	color: #fff;
}
.logo{
	width: 430px;
	float: left;
}
.logo img{
	float: left;
	margin-right: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 10px;
	width: 70px;
}
.logo h2{
	color: #fff;
	font-size: 32px;
	margin-bottom: 11px;
	margin-top: 24px;
	text-shadow: 2px 2px 0px #666;
}
.logo p{

}

/*social icons*/
.social{
	width: 255px;
	float: right;
	margin-top: 28px;
	margin-right: 20px;
	text-align: right;
}
.social a{
	background: #a56e0a;
	border-radius: 5px;
	color: #fff;
	padding: 2px 10px;
	font-size: 30px;
}
.social a:hover{
	background: #fff;
	color: #000;
}
.social img{
	width: 60px;
}

/*post page icon section*/
.myicon{
	width: 280px;
	margin:0 auto;
}
.myicon i{
	font-size: 180px;
	border: 1px solid #ca932f;
	color: #ca932f;
	padding: 0 28px;
}
/*Menu section*/
.navsection{
  background: #e6af4b;
  min-height: 38px;
}
.navsection ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.navsection ul li {
    display: block;
    float: left;
    border-left: 1px solid #fdc662;
    border-right: 1px solid #c28a26;
    position: relative;
}
.navsection ul li:first-child{
	border-left: 0px solid #fdc662;
}
.navsection ul li:last-child{
	border-right: 0px solid #c28a26;
}
.navsection ul li a{
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.navsection ul li a:hover,#active{
	background: #FEF4E5;
	color: #333;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

/*drop down section*/
.navsection ul li ul{
	position: absolute;
	left: -999999px;
	z-index: 999;
}
.navsection ul li:hover ul{
	left: 0px;
}
.navsection ul li ul li{
	background: #E6AF4B;
	width: 200px;
	border-bottom: 1px solid #CA932F;
	float: none;
	border-left: 0px solid #fdc662;
    border-right: 0px solid #c28a26;
}
.navsection ul li ul li:last-child{
	border-bottom: 0px solid #CA932F;
}
.navsection ul li ul li a{

}


/*slider seciton*/
.slidersection{
	
}

/*content seciton*/
.contentsection{
	background: #fff;
	border: 1px solid #ca932f;
	padding: 15px;
}
.maincontent{
	width: 606px;
	background: #fef4e5;
	border: 1px solid #ded4c5;
	float: left;
	padding: 8px 15px;
	margin: 0 15px 15px 0;
}

/*about section*/
.about{

}
.about img{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #b7801c;
	float: left;
	height: 190px;
	margin-right: 10px;
	padding: 5px;
	width: 300px;
}
.about p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
	text-align: justify;
}

/*Related post*/
.relatedpost{}
.relatedpost h2{
	background: #e6af4b;
	border-bottom: 2px solid #b7801c !important;
	color: #000 !important;
}
.relatedpost img{
	height: 100px;
	margin-bottom: 10px;
	width: 187px;
}
.relatedpost img:hover{
	opacity: 0.4;
}
/*same post section*/
.samepost{
	
}
.samepost h2,.about h2{
	border-bottom: 2px solid #e0d6c7;
	font-size:25px;
	margin-bottom: 10px;
	padding: 10px;
	color: #ac7511 ;
}
.samepost img{
	background: #fff;
	border: 1px solid #ebb450;
	float: left;
	margin-right: 10px;
	padding: 5px;
	width: 200px;
}
.samepost p{
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
}
.readmore{
	float: right;
	margin-top: 10px;
}
.readmore a{
	background: #fff;
	border:1px solid #b7801c;
	border-radius: 3px;
	color: #b7801c;
	display: block;
	font-size: 17px;
	padding: 4px 8px;
	text-decoration: none;
}
.readmore a:hover{
	color: #e16525;
}
/*sidebar section*/
.sidebar{
	width: 253px;
	background: #fef4e5;
	float: right;
	margin-top:0;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ded4c5;
}
.samesidebar{
	margin-bottom: 10px;
}
.samesidebar h2 {
    background: #E6AF4B;
    border-bottom: 2px solid #555555;
    color: #333;
    margin-bottom: 8px;
    padding: 10px;
}
.samesidebar ul{
	padding: 0;
	margin:0;
	list-style: none;
}
.samesidebar ul li{
	border-bottom: 1px dashed #c9c05c;
	font-size: 16px;
	padding: 5px 8px 5px 0;
}
.samesidebar ul li:last-child{
	border-bottom: 0px dashed #c9c05c;
}
.samesidebar ul li a{
	text-decoration: none;
	color: #814a00;

}
.samesidebar ul li a:hover{
	color: #df5c25;
}
.samesidebar p{
	margin-bottom: 10px;
}

/*popular side bar section*/
.popular{

}
.popular h3{
	border-bottom: 1px dashed #b7801c;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.popular h3 a{
	text-decoration: none;
	color: #444;
}
.popular img {
	background: #fff;
	border: 1px solid #b7801c;
	border-radius: 30px;
    height: 40px;
    width: 55px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    padding: 3px;

}
.popular p{}
/*footer section*/
.footersection{
	height: 90px;
	background: #b7801c;
	text-align: center;
}
.footersection p{

}
.footermenu{
	margin-top: 25px;
	margin-bottom: 5px;
}
.footermenu ul{
	margin:0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.footermenu ul li{
	display: inline-block;
}
.footermenu ul li a{
	color: #E6AF4B;
	font-size: 18px;
	margin-right: 5px;
}

/*fixed icon seciton*/
.fixedicon{
	position: fixed;
	left: 0;
	top: 175px;
	width: 60px;
}
.fixedicon img{
	width: 50px;
}

/*example*/
.myitem{}
.myitem p{
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 5px;
	text-align: justify;
}
.items{
	margin:0px auto;
	height: 250px;
	width: 400px;
	position: relative;
	overflow: hidden;
}
.items img{
	height: 250px;
	width: 400px;
}
.shadow{
	background: rgba(0,0,0,.6);
	height: 100%;
	width: 100%;
	position: absolute;
	top: -100%;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.ourtext{
	border: 2px solid #fff;
	margin:92px auto 0;
	padding: 10px;
	width: 230px;
	text-align: center;
	color: #fff;
}
.ourtext h2{
	
}
.ourtext p{
	font-style: italic;
	margin-top: 5px;
}
.items:hover .shadow{
	top: 0;
}

/*itemTwo start*/
.photo{
	width: 300px;
	height: 190px;
	margin:100px auto;
}
.photo img{
	width: 300px;
	height: 190px;
	transition: 1s;
}
.photo:hover img{
	/*transform: rotate(360deg);*/
	/*transform: skew(360deg );*/
	/*transform: scale(5);*/
	transform: translate(150px);
}

/*googlemap*/
.googlemap{

}
#map {
      width: 100%;
      height: 300px;
}

/*mycounter*/
.mycounter{
	font-size: 90px;
	color: #000;
	text-align: center;
	background: #ca932f;
	padding: 90px 30px;
}

/*sorting*/
.sorting{
	text-align: center;
}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-left: 90px;
  margin-top: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
    margin-left: 20px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  color: #262524;
  width: 150px;
}
.element-item img{
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	width: 100%;
}
